li{
    background-color: aqua;
    color: blue;
}

.mostpopular{
    background-color:blueviolet;
}
#favorite{
    background-color: palevioletred;
}
h1{
    color: darkblue;
}       
.header{
    color:red;
    font: size 40px;
    font-family: fantasy;
}
.header:hover {
    color:skyblue
}