li{
    background-color: aqua;
    color: blue;
}
h1{
    color: red;
}       
.mostpopular{
    background-color:blueviolet;
}
#favorite{
    background-color: palevioletred;
}
.main{
    text-align: center;
}
.header{
    color:red;
    font: size 40px;
    font-family: fantasy;
    text-align: center;
}
.header:hover h1 { 
    color:skyblue
}
 